.product{
    display: inline-block;

}

mat-card {
    display: inline-block;
    float: left;
    margin: 10px 0 10px 5px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
    cursor: pointer;
    height: 500px !important;
    margin-left: 1%;
}

mat-card img {
    border-radius: 10px;
    
}

.m-8 {
    margin: 0.5em !important;
}


mat-card h1 {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #194866;
    margin: 0 !important;
    white-space: nowrap;
    width: 287px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.desc p{
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #3D3D3D;
    opacity: 0.6;
    display: -webkit-box;
    max-width: 270px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

mat-card h3 {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #34C88A;
    margin: 0 !important;
    height: 500px;
}

mat-card span {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #3D3D3D;
}

.deleteBtn{
    position: absolute;
    top: 0px;
    right: -10px;
}


.budjet{
    background-color: #2F496E;
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 400;
    margin-top: 15px;
    cursor: pointer;
}

.budjet:hover{
    background-color:#3B5D8B;
}